* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans Condensed', sans-serif;
  }
  
  /* grid 960px */
  .linha{
    width: 960px;
    margin: 0 auto;
    /* deixa centralizado, no meio da pagina */
    overflow: auto;
    /* evita problemas futuros de layout */
    padding: 0;
    /* espassamento entre linhas */
  }
  .coluna{
    padding: 0 10px;
    /*espassamento entre colunas, isso influi na conta dos 960px, que dividido por
    12 da 80, menos 10 de cada lado da 60*/
    float: left;
  }
  
  /* com esse espassamento definimos aqui abaixo o tamanho de cada coluna: */
  
  .col1{
    /*width: 60px;*/
      width: 6.25%;
  }
  
  .col2{
    /*width: 140px;*/
    width: 14.583333%;
  }
  .col3{
    /*width: 220px;*/
    width: 22.916667%;
  }
  .col4{
    /*width: 300px;*/
    width: 31.25%;
  }
  .col5{
    /*width: 380px;*/
    width: 39.583333%;
  }
  .col6{
    /*width: 460px;*/
    width: 47.916667%;
  }
  .col7{
    /*width: 540px;*/
    width: 56.25%;
  }
  .col8{
    /*width: 620px;*/
    width: 64.583333%;
  }
  .col9{
    /*width: 700px;*/
    width: 72.916667%;
  }
  .col10{
    /*width: 780px;*/
    width: 81.25%;
  }
  .col11{
    /*width: 860px;*/
    width: 89.583333%;
  }
  .col12{
    /*width: 940px;*/
    width: 97.916667%;
  }

  img {
      width: 40%;
  }