* {
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Open Sans Condensed', sans-serif;
  }

  .content {list-style-type: circle;}

  h1 {
    line-height: 0em;
  }
  #webdev {
    letter-spacing: 0.7em;
    font-size: 1em;
    word-spacing: 0.5em;
  }

/* GRID 960px */
  .line{
    width: 960px;
    margin: 0 auto;
    overflow: auto;
    padding: 0;
  }

  .column{
    padding: 0 10px;
    float: left;
  }
  
  .col6{width: 50.00%;}

  .col12{width: 100.00%;}

/*IMAGES*/
  img {width: 40%;}
  .myinsta {width: 4%;}


  .content {list-style-type: circle;}

/*SCALES FOR SKILLS*/
    #bar {
        width: 80%;
        height: 20px;
        border-radius: 10px;
        background-color: rgba(0, 26, 21, 0.4);
    }

    .fill{
        height: 20px;
        border-radius: 10px;
        background-color: rgba(0, 26, 21, 0.6);    
    }

    .f1{width: 55%;}

    .f2{width: 55%;}

    .f3{width: 20%;}

    .f4{width: 10%;}

    .f5{width: 90%;}

    .f6{width: 90%;}

    .f7{width: 80%;}

    .f8{width: 45%;}

    .f9{width: 100%;}

    .f10{width: 95%;}

    .percent {
    text-align: center;
    color: white;
    }


/*FOOTER*/
    footer {
        text-align: center;
        color: #fff;
        padding: 10px 0;
        background-color: rgba(0, 26, 21, 0.6);
    }